{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202501}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202502}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202503}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202504}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202505}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202506}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202507}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202508}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202509}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202510}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202511}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202512}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202601}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202602}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202603}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202604}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202605}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202606}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202607}
{"ktype":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","mon":202608}
