{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20250101,"end":20250201}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20250201,"end":20250301}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20250301,"end":20250401}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20250401,"end":20250501}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20250501,"end":20250601}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20250601,"end":20250701}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20250701,"end":20250801}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20250801,"end":20250901}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20250901,"end":20251001}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20251001,"end":20251101}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20251101,"end":20251201}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20251201,"end":20260101}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20260101,"end":20260201}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20260201,"end":20260301}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20260301,"end":20260401}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20260401,"end":20260501}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20260501,"end":20260601}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20260601,"end":20260701}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20260701,"end":20260801}
{"type_kline":"MIN","region":"US","market":"NASDAQ","usc":"FUTU","symbol":"US.FUTU","period":"mon","start":20260801,"end":20260901}
